
a {
    color: green;
}

.Home {
    display: flex;
    height: 100vh;
}

.mainContainer {
    display: flex;
    flex-direction: column;
    background-image: url('../../images/bg.png');
    flex: 1;
    padding: 15px;
    overflow-y: auto;
    align-items: center;
    justify-content: center;
}

.loginContainer {
    max-width: 400px;
    width: 100%;
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    color: #136713;
    font-weight: bold;
}
.titleArea {

}
.titleName {
    font-size: 22px;
    margin-bottom: 10px;
}
.titleBar {
    height: 4px;
    width: 100px;
    background-color: #136713;
}

.loginContainer form {
    margin-top: 10px;
}
.inputArea {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}
.inputArea input {
    border: 1px solid #080;
    border-radius: 5px;
    outline: 0;
    font-size: 16px;
    height: 40px;
    padding: 0 5px;   
}
button {
    border: 0;
    outline: 0;
    color: #fff;
    background-color: #073c07;
    box-shadow: 4px 5px 0px rgba(0, 0, 0, 0.16);
    cursor: pointer;
    border-radius: 5px;
    font-size: 20px;
    padding: 10px 20px;
    margin-top: 10px;
}       

.loginContainer a {
    
    display: block;                          
    font-weight: normal;
    font-size: 18px;
    text-align: center; 
    text-decoration: none; 
    color: #1877f2;
}

.loginContainer a:hover {
    color: #073c07;
    text-decoration: underline; 
}

.registerArea {
    border-top: 1px solid #ddd;
    margin-top: 20px;
    padding-top: 20px;
}
.registerArea a {
    display: block;                          
    font-weight: normal;
    font-size: 18px;
    text-align: center; 
    text-decoration: none; 
    color: #1877f2;
}
.registerArea a:hover {
    color: #073c07;
    text-decoration: underline; 
}

.ErrorMessage {
    padding: 10px;
    margin: 10px 0;
    background-color: #FFCACA;
    color: black;
    border: 2px solid #FF0000;
}
